fastapi
python-multipart
pydantic
pydantic[email]
Jinja2
SQLAlchemy
alembic
tenacity
greenlet
PyMySQL
cryptography
asyncio
python-dotenv
passlib
passlib[bcrypt]
python-jose
python-jose[cryptography]
psycopg2-binary
boto3
gunicorn
web3
requests
autopep8